MONGODB_URI=ADD_YOUR_MONGO_URI

CLOUDINARY_CLOUD_NAME=ADD_YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=ADD_YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=ADD_YOUR_CLOUDINARY_API_SECRET

# For admin user account(We have two admin accounts)
# For client side
NEXT_PUBLIC_ADMIN_USER_ID=SET_YOUR_ADMIN_USER_ID
NEXT_PUBLIC_ADMIN_TEST_USER_ID=SET_YOUR_ADMIN_TEST_USER_ID

# For server side
ADMIN_USER_ID=SET_YOUR_ADMIN_USER_ID
ADMIN_TEST_USER_ID=SET_YOUR_ADMIN_TEST_USER_ID

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=ADD_YOUR_PUBLIC_STRIPE_PUBLISHABLE_KEY_SECRET
STRIPE_SECRET_KEY=ADD_YOUR_PUBLIC_STRIPE_SECRET_KEY
