NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=ADD_YOUR_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=ADD_YOUR__CLERK_SECRET_KEY

NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/profile/create
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/profile/create

# NEXT_PUBLIC_DOMAIN change after deploy
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
